<!DOCTYPE html>

<html>
  
	<head>
    
		<title>Profile</title>
    
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
		<!-- Bootstrap -->
		
<link href="/css/bootstrap.min.css" rel="stylesheet">
		
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/profile.css" rel="stylesheet">

	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

		    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		
    <![endif]-->
  
	</head>
  
	<body>
	
		<!-- this is a comment in HTML -->

	
		<div class="top">
  		
		
			<h3>Create Your own avatar</h3>

	
		</div>

	
		
		<div class="middle">
        		
		
			<img src="images/profile_pictures/charmander.png">

			<!-- Trigger/Open The Modal -->
	
		<button id="myBtn">Change Profile Picture</button>

			<!-- The Modal -->

			<div id="myModal" class="modal">

 
	 			<!-- Modal content -->

  				<div class="modal-content">


    					<span class="close">&times;</span>
    					<!--p>Select a character..</p-->

					{{#each character}}
					<!--button id="{{id}}" style="background: url({{image}})"></button-->
					<button id="{{id}}"></button>
					{{/each}}

	  			</div>
	

		</div>
		</div>



		<div class = "bottom">



			<p>XP:</p>
	
		
			<a href="/index" class="button"> Back </a>





		</div>
		



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	
		<script src="https://code.jquery.com/jquery.js"></script>
    
		<!-- Include all compiled plugins (below), or include individual files as needed -->
	
		<script src="/js/bootstrap.min.js"></script>
	
		<script src="/js/profile.js"></script>


	</body>


</html>
