* {
    box-sizing: border-box;
}


body{

	padding:2.5%;

}

.top {

	background-color: #f1f1f1;
	padding: 20px;
	text-align: center;
	height:10%;
	

}

h1{

	text-size: 16px;

}
.column{

	float:left;
	
	margin:2.5%;

}

.column.left{

    	width: 60%;
	height:90%;
    	padding: 15px;
	left-margin:0%;

}


.column.right{

    	width: 30%;
	height:90%;
    	padding: 15px;
	
	display: flex;
	flex-direction: column;
	text-align: center;
	right-margin:0%;

}

.carousel {
  width:100%;
  height:100%;
}

img {
  width: 20%;
  height: 20%;
  /*max-height: 225px;*/
}

.button {
    background-color: #f44336;
	width:100%;
	height: 50px;
    border: 4px;
    color: white;
    margin: 2px 4px;
	border:2px
    text-align: center;
    text-decoration: none;
	
    font-size: 24px;
	border-radius:4px;

  /*padding-top: 13px;
  padding-bottom: 13px;*/
	padding:7px;

}
/*
.button a{

	vertical-align:middle;

}
*/



@media (max-width: 600px) {
    .column.left, .column.right {
        width: 100%;
    }
}




